@import 'components/vars';

html {
  overflow-x: hidden;
  background-color: $white;
}

body {
  font-family: Roboto, sans-serif !important;
  font-weight: 400;
  color: $gray;
  background: transparent;
  position: relative;
  min-width: 320px;
}


@import 'media/media';
